<div class="jumbotron">
     <div class="container">
       <h1>Tech MEETUPS</h1>
       <p>A selection of Tech Meetups that may interest Developers enthusiasts. Enjoy!</p>
          <h3>Update the results below</h3>
          <div class="row">
              <div class="col-md-6">
                <form>
                  <fieldset class="form-group">
                    <label for="zipcode">Location</label>
                    <input class="form-control" id="zipcode" placeholder="Enter a Zipcode">
                  </fieldset>
              </div>

                <div class="col-md-6">
                  <fieldset class="form-group">
                    <label for="searchTerm">Terms (Add an additional search term for better results)</label>
                    <input class="form-control" id="searchTerm" placeholder="Enter a search term">
                  </fieldset>
              </div>
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>

     </div>
   </div>

   <div class="container">
       <div id="meetupevents">
    </div>